/* ============ font ============ */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


/* ============ reset ============ */
* { box-sizing:border-box; }
html { font-size:10px; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button,label { margin: 0; padding:0 }
h1,h2,h3,h4,h5,h6{ font-weight: 700; }
fieldset,img { border: 0 none; }
img{ max-width: 100%; }
dl,ul,ol,menu,li { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after,q:before, q:after { content: none }
body {
	width: 100%;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.3px;
	font-family: 'Noto Sans KR' ,Sans-serif;
	color: #000;
	background: #fff;
}
a { color: inherit; text-decoration: none; }
a:active, a:hover { text-decoration:none; }
address,caption,cite,code,dfn,em,var { font-style: normal; font-weight: normal; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
caption, legend{ font-size: 0; line-height: 0; width: 0; height:0; padding: 0; text-indent: -9999px; overflow: hidden; }
/* input 기본 스타일 초기화 */
input {
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input:focus{outline: none;}
/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }
/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button{
    cursor: pointer;
    border: none;
}
/* ============ common ============ */
.hidden{
    display: none;
}
.contents{
    max-width: 1580px;
    max-height: 100%;
    margin: 0 auto;
    padding: 90px 40px;
}
.box{
    /* background: rgba(255,255,255,0.3); */
    background: rgba(0,0,0,0.2);
    box-shadow: 8px 7px 12px rgba(0,0,0,0.1);
    border-radius: 70px;
}
.box.sm{
    width: 300px;
    height: 300px;
    padding: 30px 50px;
}
.box.lg{
    width: 100%;
    height: 600px;
    padding: 30px 50px;
}
.box.calender{
    padding: 0;
    background: #f5f5f5;
    overflow: hidden;
}
.top{
    display: flex;
    align-items: center;
}
.login-area{
    display: flex;
    align-items: center;
}
.app-area{
    display: flex;
}
.app-area .info-area{
    display: flex;
    flex-wrap: wrap;
    width: 660px;
}
.info-area .box.sm{
    margin-right: 30px;
}
.info-area .box.sm:last-of-type{
    margin-right: 0;
}
.info-area .box.lg{
    margin:30px 30px 0 0;
}
.app-area .todo-area{
    position: relative;
    width: calc(100% - 660px);
}
.todo-area .box.lg{
    height: 100%;
}

/* ============ login ============ */
#login{
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100vh;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(17px);
    z-index: 100;
}
#login > form{
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
#login > form::after{
    content:'';
    display: block;
    clear: both;
}
#login > form > p{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
#login > form > input{
    display: block ;
}
input.default{
    width: 600px;
    margin-top: 80px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background: none;
    border-bottom: 1px solid #fff;
    text-align: center;;
}
input.default:focus{
    border-bottom: 1px solid #ffa912;
    transition: 0.5s;
}
#login button{
    display: block;
    margin: 30px auto 0;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 700;
    background: #ffa912;
    font-size: 14px;
    color: #fff;
}
#login button:disabled{
    background: #f5f5f5;
    color: #999;
}
#greeting{
    margin-bottom: 30px;
    font-family: 'NanumPen';
    font-size: 93px;
    color: #fff;
}

/* ============ clock ============ */
#clock{
    font-family: 'NanumPen';
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
#day{
    font-size: 40px;
    text-align: center;
    padding: 20px 0 15px;
    background: #f26462;
    color: #fff;
}
#date{
    font-size: 120px;
    line-height: 168px;
    text-align: center;
}

/* ============ quotes ============ */
#quotes{
    margin-left: 30px;
    font-family: 'NanumPen';
    font-size: 25px;
    color: #fff;
}
#quotes > .author{
    margin-left: 20px;
}
#quotes > .author::before,
#quotes > .author::after{
    content:'-';
    display: inline-block;
}

/* ============ weather ============ */
#weather{
    position: relative;
    color: #fff;
}
#weather .city{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
}
#weather .temp{
    position: relative;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
}
#weather .temp::after{
    content:'';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: 10px;
    border:5px solid #fff;
    border-radius: 100%;
    vertical-align: top;
}
#weather .condition{
    position: absolute;
    left: 50px;
    bottom: 60px;
    padding-right: 50px;
    font-size: 20px;
}
#weather .highest-temp{
    position: absolute;
    left: 50px;
    bottom: 30px;
    font-size: 16px;
}
#weather .highest-temp::before{
    content:'최고:';
    display: inline-block;
    margin-right: 3px;
}
#weather .minimum-temp{
    position: absolute;
    left: 120px;
    bottom: 30px;
    font-size: 16px;
}
#weather .minimum-temp::before{
    content:'최저:';
    display: inline-block;
    margin-right: 3px;
}
#weather .highest-temp::after,
#weather .minimum-temp::after{
    content:'';
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-top: 6px;
    margin-left: 3px;
    border:2px solid #fff;
    border-radius: 100%;
    vertical-align: top;  
}

#forecast{
    color: #fff;
}

#forecast > li{
    padding: 5px 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
#forecast > li:last-of-type{
    border-bottom: none;
}
#forecast > li.title{
    font-size: 14px;
}
#forecast > li.title::before{
    content:'\f133';
    display: inline-block;
    font-family:'FontAwesome';
    margin-right: 7px;
}
#forecast > li.forecast-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

/* ============ todolist ============ */
.todo-area .box{
    background: #f5f5f5;
    padding: 0;
    overflow: hidden;
}
.todo-area .box h2{
    margin-bottom: 30px;
    padding: 30px 50px;
    font-size: 30px;
    color: #fff;
    background: #f26462;
}
#todo-list{
    padding: 0 30px;
}
#todo-form{
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
    width: calc(100% - 100px);
}
#todo-form input{
    width: calc(100% - 85px);
    border-radius: 30px;
    box-shadow: 5px 5px 12px rgb(0 0 0 / 20%);
    padding: 12px 20px 10px;
}
#todo-form .todo-btn{
    width: 55px;
    height: 55px;
    font-size: 0;
    background: #f26462 url(/img/plus_02.png) no-repeat center;
    background-size: 100% auto;
    border-radius: 100%;
    box-shadow: 5px 5px 12px rgb(0 0 0 / 20%);
    margin-left: 30px;
}
#todo-list > li{
    background: #fff;
    padding: 15px 15px 12px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
#todo-list > li:last-of-type{
    margin-bottom: 0;
}
#todo-list > li > span{
    font-size: 16px;
    vertical-align: middle;
}
#todo-list > li > .check{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    font-size: 0;
    background: url(/img/check_off.png) no-repeat center;
    background-size: 100% auto;
}
#todo-list > li > .check.on{
    background: url(/img/check_on.png) no-repeat center;
    background-size: 100% auto;
}
#todo-list > li > .delete{
    float: right;
    width: 20px;
    height: 30px;
    margin-right: 5px;
    font-size: 0;
    background: url(/img/delete_02.png) no-repeat center;
    background-size: 100% auto;
}

