@charset "utf-8";

/* ============================ 로그인 ============================ */
.login_top{
    margin-top: 20px;
}
.login_contents {
    background: #ffe800 url(../img/kakaotalk-logo-card-2018.png) no-repeat center 112px;
    background-size: 330px auto;
}
.login_contents .login_utile {
	display: flex;
	margin-top: 30px;
	align-items: center;
}
.login_contents .login_utile .check_area {
	margin: 0;
    margin-right: 10px;
}
.login_contents .login_utile .find_area {
	display: inline-block;
	font-weight: 500;
	font-size: 1.3rem;
	color: #959595;
}

.login_contents .login_top .btn-group {
	margin-top: 10px;
}
.form-group input::placeholder {
    font-size: 12px;
}
.login_contents .btn-login-util {
    text-align: center;
   position: absolute;
   left: 50%;
   bottom: 50px;
   width: 100%;
   transform: translateX(-50%);
}
.login_contents .btn-login-util > button {
    color: #777;
}
.login_contents .btn-login-util > button:after {
    content: '';
    display: inline-block;
    margin: 2px 11px 0 15px;
    width: 1px;
    height: 15px;
    background:#9D9CA7 ;
    vertical-align: top;
}
.login_contents .btn-login-util > button:last-of-type:after {
    display: none;
}
.login_caution {
    color: #E15242;
    font-size: 12px;
    margin-top: 15px;
    display: none;
}
.form_wrap_line.error .login_caution{
    display: block;
}
